@model Order
@{
    ViewData["Title"] = "Complete";
}



<div class="account pb-100px">
    <div class="address-add ">
        <div class="address-add-all">
            <h1 class="address-add-header">Checkout Completed</h1>
            <div class="address-add-inner">
                <div class="cart-total-index">
                    <div class="cart-total-index-all">
                        
                        <div class="total-all">
                            <h5>Your Order Receipt will sent to your Email</h5>
                            <a style="color:#44D62C;" asp-controller="order" asp-action="index">Go to your orders</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>




