@model List<BasketVM>

<div class="header-cart-basket">
    @if (Model.Count > 0 && Model != null)
    {
        <div class="header-cart-basket-items">
            @foreach (BasketVM basketVM in Model.Take(2))
            {
                <div class="cart-item">
                    <div class="cart-item-img">
                        <img src="~/assets/photos/products/@basketVM.Image" alt="">
                    </div>
                    <h5 class="cart-item-title">
                        @basketVM.Title
                    </h5>
                </div>
            }
            @if (Model.Count > 2)
            {
                <div class="cart-item-lasts">
                    <span>@(Model.Count - 2) more items in your cart</span>
                </div>
            }
            <a asp-controller="basket" asp-action="index" class="cart-checkout-btn">
                <div class="add-to-cart-btn">
                    CHECKOUT
                </div>
            </a>
        </div>
    }
    else
    {
        <div class="header-cart-basket-empty" style="color: #888;">Your Cart is empty.</div>
        
    }
</div>
