@model PageNatedList<Specification>
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-lg-12">
        <div class="row justify-content-between">
            <div class="col-lg-3">
                <h1 class="h3 mb-4 text-gray-800">Spec Category Page</h1>
            </div>
            <div class="col-lg-2">
                <a asp-area="manage" asp-controller="specification" asp-action="create" class="btn btn-primary">Create</a>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="indexContainer">
            @await Html.PartialAsync("_SpecIndexPartial",Model)

        </div>

    </div>

</div>


